$shadow: 0.5rem 0.5rem 0.8rem var(--greyLight-2),
  -0.4rem -0.4rem 0.7rem var(--white);

.album {
  width: 25rem;
  height: 25rem;
  box-shadow: $shadow;
  border-radius: 50%;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  &__cover {
    border-radius: 50%;
    height: 24rem;
    width: 24rem;
    margin: auto;
  }
}
